{% extends 'mainh.html' %}

{% block title %}
aivancrate       
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавить экстрим Айвана</h1>
    <form method="post">
        <p>level-name</p>
        <input type="text" name="level_name" id="level_name" class="form-control"><br>
        <p>creator-name</p>
        <textarea type="text" name="creator_name" id="creator_name" class="form-control"></textarea><br>
        <p>img-link</p>
        <textarea type="text" name="img" id="img" class="form-control"></textarea><br>
        <p>attempts</p>
        <textarea type="text" name="attempts" id="attempts" class="form-control"></textarea><br>  
        <p>device</p>
        <textarea type="text" name="device" id="device" class="form-control"></textarea><br> 
        <p>fps</p> 
        <textarea type="text" name="fps" id="fps" class="form-control"></textarea><br> 
        <p>opinion</p> 
        <textarea type="text" name="opinion" id="opinion" class="form-control"></textarea><br>
        <p>difficulty</p> 
        <textarea type="text" name="difficulty" id="difficulty" class="form-control"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}

{% block center %}

{% endblock %}