{% extends 'mainh.html' %}

{% block title %}
aivancrate       
{% endblock %}

{% block body %}
<h2 id="405-not-allowed" class="has-anchor-hash" style="padding: 0px; margin: 0px; font-size: 45px; text-align: center;">ВСЕМ ДОРОУ! С ВАМИ АЙВАН И СЕЙЧАС Я ВАМ РАССКАЖУ, ЧТО Я ТУТ НАПРОГАЛ!<a class="anchor-hash" href="#405-not-allowed" aria-hidden="true"></a></h2>
<p style="text-align: center; font-size: 25px;">Идея создания сайта, где я и мои друзья могут чекать свою статистику по Geometry Dash, пришла ещё давно в году 2020-ом, но руки дотянулись сделать его только сейчас в 2022. Я очень хотел сделать сайт по типу <a href="https://pointercrate.com/">pointercrate.com</a>, на котором буду только я и мои друзья. И это реально меня вдохновило создать свой первый сайт! Конечно, WEB-разработчик из меня пока никакущий, но я, действительно, постарался над своим первым сайтом.</p>
<h4 id="405-not-allowed" class="has-anchor-hash" style="padding: 0px; margin: 0px; font-size: 30px; text-align: center;">НАСЛАЖДАЙТЕСЬ!<a class="anchor-hash" href="#405-not-allowed" aria-hidden="true"></a></h4>
{% endblock %}

{% block center %}
<figure class="wp-block-image size-large is-resized" style="padding: 0px; margin: 0px; text-align: center;"><img loading="lazy" src="static/images/title.png" alt="info navigation logo" class="wp-image-42553" width="1280" height="720"></figure>
{% endblock %}