{% extends 'mainh.html' %}

{% block title %}
aivancrate       
{% endblock %}

{% block body %}
<div class="container mt-5" style="padding-left: 15px">
    <h2 id="405-not-allowed" class="has-anchor-hash" style="padding: 0px; margin: 0px; font-size: 45px; text-align: center;">   Однако вы можеете...<a class="anchor-hash" href="#405-not-allowed" aria-hidden="true"></a></h2>
    <h3 style="text-align: left"><i> Написать мне в <a href="https://vk.com/cutesp00ky">вк</a> или дискорд(sp00ky#6907) и предложить, что можно ещё добавить на сайт. Обязательно послушаю))</i></h3>
</div>
{% endblock %}

{% block center %}
<h2 id="405-not-allowed" class="has-anchor-hash" style="padding: 0px; margin: 0px; font-size: 45px; text-align: center;">Правила??<a class="anchor-hash" href="#405-not-allowed" aria-hidden="true"></a></h2>
<h4 id="405-not-allowed" class="has-anchor-hash" style="padding: 0px; margin: 0px; font-size: 30px; text-align: center;">ИХ НЕТ! Я - ЕДИНСТВЕННЫЙ МОДЕРАТОР!!<a class="anchor-hash" href="#405-not-allowed" aria-hidden="true"></a></h4>

{% endblock %}